__pycache__
flight_data
gopro_tests
.devcontainer

bin
lib
lib64
include
share
pyvenv.cfg
telemetry_*
.catkin_tools
build
devel
logs
*.engine
.rosinstall*
*.MP4
src

# yolov8m (medium size) model weights are too big to upload
yolov8m*
