output
*.zip
*.mp4
__pycache__
bin
etc
include
lib
lib64
share
pyvenv.cfg
*sandbox.py
*sandbox.ipynb 
# `*sandbox.py` is here because Eric likes to make untracked python files to test out random stuff and uses a naming convention where they're always suffixed with "sandbox"